/* mulish font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;800&display=swap");

/* common styles start */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header,
main {
  max-width: 1170px;
  margin: 0 auto;
}

.mt-mb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.color-primary {
  color: #ff5400;
}

.color-black {
  color: #131318;
}

.color-gray {
  color: #5a5a5d;
}

.section-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.btn-primary {
  width: 174px;
  background-color: #ff5400;
  color: white;
}
/* common styles end */

/* header section styles start */
.banner-section {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../images/banner.png") no-repeat center/cover;
  padding: 105px 50px;
  text-align: center;
  border-radius: 16px;
}

.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 25px;
}

.banner-description {
  width: 70%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}

.search-place {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 15px 0;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.input-style {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
}

.search-place input {
  width: 154px;
  padding-left: 20px;
}

.input-style:focus {
  outline: 0;
}

.input-style select {
  border: none;
}

.select-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-place button {
  width: 174px;
  border: none;
  padding: 15px 30px;
}
/* header section styles end */

/* main section start */

/* Tour section style start */
.tour-section {
  display: flex;
  justify-content: space-between;
  line-height: 1.7;
}

.tour-content,
.tour-img {
  flex: 1;
}

.tour-description {
  margin: 25px 10px;
}

.tour-content ul {
  margin: 0 50px;
}

.tour-content ul li {
  margin-bottom: 15px;
}

.tour-content button {
  padding: 15px 35px;
  border: 0;
  border-radius: 8px;
}

.tour-img img {
  width: 100%;
  height: 550px;
}
/* Tour section style end */

/* Destination section start */
.destination-content {
  text-align: center;
}

.destination-content > p {
  max-width: 643px;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 50px;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}

.row2 {
  grid-template-columns: 1.5fr 2fr 1fr;
}

.row3 {
  grid-template-columns: 1fr 2fr;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.img-text-container {
  position: relative;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}
/* Destination section end */

/* why choose us section start */
.choose-us-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.choose-us-content > h2 {
  margin-bottom: 24px;
}

.choose-us-card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 50px;
}

.choose-us-card-container .card,
.last-card-div .card {
  width: calc(50% - 24px);
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
  padding: 35px;
}

.card > h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 16px;
}

.card p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}

.choose-us-card-container .card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background-color: rgba(41, 206, 246, 0.05);
}

.last-card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

/* why choose us section end */

/* Newsletter section start */
.newsletter-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.form-section {
  border-radius: 16px;
  border: 1px solid #ff5400;
  background: #fff;
  padding: 40px;
}

.form-section h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.form-section p {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;
}

.form-section > hr {
  background-color: rgba(19, 19, 24, 0.1);
  margin-bottom: 24px;
}

.form-section input[type="text"],
input[type="email"] {
  background-color: rgba(19, 19, 24, 0.05);
  border-radius: 8px;
  padding: 16px 0;
  border: 0;
  padding-left: 20px;
  width: 95%;
  margin-bottom: 16px;
}

.form-section input:focus {
  outline: 0;
}

.form-section input[type="button"] {
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 15px 0;
  font-size: 20px;
  color: #fff;
  font-weight: 800;
}

.newsletter-img {
  position: relative;
}

.newsletter-img img {
  width: 100%;
  height: 100%;
}

.rotate-text {
  background: #ff5400;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  position: absolute;
  bottom: 10%;
  left: 53%;
  transform: rotate(-19.628deg);
}

.rotate-text p {
  font-size: 1.5rem;
  font-weight: 400;
}

.rotate-text h3 {
  font-size: 2rem;
  font-weight: 800;
}

/* Newsletter section end */
/* main section end */

/* footer section styles start */
footer {
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding: 110px 336px;
}

.footer-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-head > h3 {
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: normal;
}

.footer-head > img {
  width: 40px;
  height: 46.673px;
}

footer > ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  margin-top: 32px;
  list-style: none;
}

footer > ul li a {
  color: #131318;
}

hr {
  background-color: rgba(19, 19, 24, 0.1);
  margin: 50px 0;
}
/* footer section styles end */

/* Responsive Styles start */

/* Small Devices */
@media screen and (max-width: 576px) {
  header,
  main {
    padding: 20px;
  }

  .banner-description {
    width: 100%;
  }

  .search-place {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* tour section */

  .tour-section,
  .newsletter-section {
    flex-direction: column;
  }

  .tour-img {
    margin-top: 20px;
  }

  /* destination */
  .image-container {
    grid-template-columns: 1fr;
  }

  /* why choose us section */
  .choose-us-section {
    margin: 20px;
  }

  .choose-us-content {
    width: 100%;
  }

  .choose-us-card-container,
  .last-card-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .choose-us-section .card {
    width: 100%;
  }

  .last-card-div {
    margin-top: 0;
  }

  /* newsletter  section */

  .rotate-text * {
    font-size: 1rem !important;
  }

  /* footer */
  footer {
    padding: 33px 44px;
  }

  hr {
    margin: 25px 0;
  }
}

/* Medium Devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header,
  main {
    padding: 20px;
  }

  .search-place {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  footer {
    padding: 100px 200px;
  }
}

/* Responsive Styles end */
